name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '12'
    - run: npm install
    - run: echo "AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.SERVERLESS_AWS_ACCESS_KEY }}
    - run: echo "AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY"
      env:
        AWS_SECRET_ACCESS_KEY: ${{ secrets.SERVERLESS_AWS_SECRET_ACCESS_KEY }}
    - run: echo "AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID" >> .env
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.SERVERLESS_AWS_ACCESS_KEY }}
    - run: echo "AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY" >> .env
      env:
        AWS_SECRET_ACCESS_KEY: ${{ secrets.SERVERLESS_AWS_SECRET_ACCESS_KEY }}
    - name: Serverless
      uses: serverless/github-action@v1.53.0
